# Ignore SQLite database
db.sqlite3

# Ignore media files (uploaded images, documents, etc.)
media/

newstatic/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore log files
*.log

# Ignore Django secret key file (if any)
.env

# Ignore migrations cache (optional)
**/migrations/__pycache__/
