{% extends 'index.html' %}
{% block content %}
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Delete Payment Plan</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Are you sure you want to delete the payment plan "{{ object.name }}"?</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mr-2">Confirm Delete</button>
                            <a href="{% url 'payment-plans-list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
